@media screen and (max-width: 768px){
  .container-fluid{padding: 0;}
  .intro {
    padding: 0 50px;
  }
  .intro h2 {
    padding: 50px 0;
}
.intro p {
    line-height: 1.5;
}
.custom-btn {
    margin: 30px 0;
  }
  .col-md-4.col-sm-6.col-xs-12 {
    padding: 45px 30px;
}
.save_water_heading {
    font-size: 35px;
    margin: 50px 0;
}
.sw_box {
    padding: 0 0 45px;
}
.num {
    font-size: 30px;
    margin-bottom: 10px;
}
.find_local_agencies {
    padding: 40px;
}
.find_local_agencies h3 {
    padding-bottom: 20px;
}
.locator_form .zip_code {
    padding: 10px;
    width: 55%;
}
.custom-btn.show_me {
    margin: 30px 0 0;
}
.resource_box figure {
    float: none;
}
.resource_box h5 {
    padding: 10px 0;
}
.custom-btn.all_res {
    margin: 30px 0 0;
}
.footer_row p {
    font-size: 10px;
    padding: 20px 0;
}

























































}
